/*1 cabecalho */

.cabecalhoTopo .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cabecalhoTopo-nav{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.telefone{
	display: flex;
    align-items: baseline;
}

/*Padrao cabecalho 2*/
.cabecalhoPrincipal .container{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.cabecalhoPrincipal-nav{
	display: flex;
}

/*Conteudo Principal*/

/*Rodape*/
 
 .logoRodape{
 	display: flex;
 	align-items: flex-end;

 }
.endereco{
	display: block;
   	margin-left: 27px;
}

.rodapePrincipal-div .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.rodapePrincipal-ultimo .container{
	display: flex;	
	align-items: center;
	justify-content: space-between;
	
}


.buttonConteudoPrincipal{
	display: flex;
	justify-content: center;
}
.buttonConteudoPrincipal button{
	display: flex;
	

}


