body {
	/*background-color: #F2F5F7;*/
	font-family: 'Open Sans',Arial,sans-serif;
}

/*1 cabecalho*/
.cabecalhoTopo{
background-color: #28447a;
	padding: 5px;
	    margin-left: -21px;
}
.cabecalhoTopo-nav i{
	color: #e7d400; 
	margin-left: 16px;
	margin-right: 4px;
	font-size: 11px;
}
.cabecalhoTopo-nav a{
	color: #fff; 
	text-decoration:none; 
	font-size: 11px;

}
.telefone{

	color: #fff;
}
.telefone strong{
	 font-weight: bold;
	 margin:2px;
	 font-size: 13px;
}
.telefone h6{

	 font-size: 11px;
	 margin:2px;
}
.telefone i{
 	 color: #e7d400;
	 margin-right: 5px;
	 margin:2px;
}




/*2 cabecalho*/

.cabecalhoPrincipal-nav i{
	 color: #e7d400;
	 margin-right: 5px;
}
.cabecalhoPrincipal-nav-link strong{
	 font-weight: bold;
	 font-size: 12px;
}


 
.frase{
	font-family: 'Courgette', cursive;
	font-size: 14px;

}

/*rodape*/
.positivo{
	width: 123px;
	margin-right: 20px;
}
.unopar{
	width: 53px;

}
.rodapePrincipal-img{
	width: 51px;
}
.icones{
	margin-right: 183px;
}
.icones i{
	font-size: 20px;
	margin-right: 7px;
	color: #e9c110;

}
.endereco i{
	color: #e9c110;
	font-size: 16px;
}
.rodapePrincipal-ultimo-logo img{
	    width: 47px;
	    margin-right:13px;
}

.rodapePrincipal-endereco{
	display: flex;
	align-items:  flex-end;
}

.rodapePrincipal-endereco p {
	font-size: 11px;
}
.rodapePrincipal-endereco i {
	    margin-right: 5px
}

.rodapePrincipal-telefone{
	display: flex;
	align-items:  flex-end;
}

.rodapePrincipal-telefone{
	color: #fff;
}

.rodapePrincipal-telefone strong{
	 font-weight: bold;
	 margin:2px;
	 font-size: 12px;
}
.rodapePrincipal-telefone h6{

	 font-size: 9px;
	 margin:2px;
}
.rodapePrincipal-telefone i{
 	 color: #e7d400;
	 margin-right: 5px;
	 margin:2px;
}

.topo {
	height: 57px;
}



.container {
	width: 65%;
	margin: 0 auto;
}

.cabecalhoPrincipal {
	background-color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 10;
	
}

.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

/*.home{
	border-top: 2px solid #fff
}*/

.cabecalhoPrincipal-nav-link {
	
	margin-bottom: 10px;
	color: #42439b;
	text-decoration: none;
	transition: .5s;
	display: block;

	
}

.conteudoPrincipal {
	position: absolute;
    z-index: 10;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

.subtitulo {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}

.conteudoPrincipal-titulo{
	font-size: 37px;
	color: #FFF;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;

}

.conteudoPrincipal-subtitulo{
	font-size: 18px;
	color: #fce400;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}
.conteudoPrincipal-cursos-p{
	font-size: 15px;
	color: #FFF;
	margin-bottom: 25px;
	font-family: 'Open Sans', sans-serif;

}



.rodapePrincipal {
	background-color: #074777;
	width: 100%;
	z-index: 20;
	position: fixed;
	bottom:0;

}

.rodapePrincipal .subtitulo {
	color: #FFF;
}


.borda{
	border-bottom:  5px solid #fce400;
}
.linha{
	border-bottom:  1px solid #fff
}
.navmap-list-title {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}


.rodapePrincipal-ultimo {
	
	background: #063d66;
	padding: 5px 0;
}
.rodapePrincipal p{
	color: #fff;
}




/*video*/

.video-header {
	overflow: hidden;
	max-height: 100vh;
	width: 100%;
	position: relative;
	height: 100vh;
	background-color: rgba(62, 133, 122, 0.51);
}

.video-header iframe {
    width: 77%;
    height: 90vh;
    transform: scale(1.3) !important;
    -webkit-transform: translateZ(0);
    display: block;
    position: relative;
}

.video-header iframe.video {
    display: block!important;
    margin: 0 auto;
}

.overlay-video {
  background-color: rgba(5, 56, 143, 0.61);
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
}


.buttonCabecalhoPrincipal button{
	border-radius: 5px;
    border: 1px solid #595aa9;
    background: transparent;
    font-weight: bold; 
    color: #595aa9;
    display: flex;
    align-items: center;

}
.buttonCabecalhoPrincipal a {
	text-decoration:none; 
	margin:6px;
	color: #42439b;
}

.rodapePrincipal-div{
	padding: 10px;
}

.buttonConteudoPrincipal button{
 	border-radius: 8px;
    border: 1px solid #f3e000;
    background: transparent; 
    align-items: center;

}

.buttonConteudoPrincipal i{
	color:#f3e000;
	margin-right: 13px;
	margin-left: 2px;
	
}
.buttonConteudoPrincipal a{
	color: #fff;
	color: #fff;
    margin-left: 20px;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-right: 2px;
    text-decoration:none; 

}


.rodapePrincipal-contatoForm {
	margin-top: 20px;
	text-align: center;
}

.rodapePrincipal-contatoForm label[for=email-contato] {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin-bottom: 5px;
	display: block;
}

.rodapePrincipal-contatoForm-emailInput {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}

.rodapePrincipal-contatoForm-submit {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #4DBA7A;
	color: #FFF;
	cursor: pointer;
	
}



.rodapePrincipal-contatoForm-legend {
	margin-bottom: 10px;
}


